{% extends 'admin.html.twig' %}

{% block title %}Musee!{% endblock %}

{% block body %}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Gallery</h2>
    
        
    </header>

    <!-- start: page -->
        <section class="panel">
                 
            
            <div class="panel-body">
                    {% for message in  app.flashes('success') %}
                      <div class="row">
                          <div class="alert alert-success text-center mt-4 col-8 " style="margin-left:16%">
                              {{ message }}
                          </div>
                      </div>
                    {% endfor %}
                <a class="pull-right btn btn-primary" href="{{path('gallery.record',{id:musee.getId()})}}">
                 <i class="fa fa-plus-circle"></i>
                Nouvelle image</a>
                <br>
                <br>
                <br>

                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>N</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Apercu</th>

                            <th class="hidden-phone">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in images %}
                        <tr>
                            <td>#</td>
                            <td>{{i.titre}}</td>
                            <td>{{i.description | slice(0,60)}}</td>
                            <td>
                            <img src="{{asset('images')}}/{{i.path}}" height="70"  width="70"/>
                            </td>
                            <td >
                            <a class=" btn btn-danger" href=""><i class="fa fa-trash"></i></a>
                            </td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        
    <!-- end: page -->
</section>
{% endblock %}