
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} Musée des peuples de l'extrême Nord{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ asset('css/aos.css')}}">
    <link rel="stylesheet" href="{{ asset('css/imp.css')}}">
    <link rel="stylesheet" href="{{ asset('css/custom-animate.css')}}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/style.css')}}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/responsive.css')}}">

    
</head>

<body>
    <div class="boxed_wrapper">
       <header class="main-header"><!--Start header top -->
            <div class="header-top">
                <div class="container">
                    <div class="outer-box clearfix"><!--Top Left-->
                        <div class="header-top-left float-left">
                            {# <ul>
                                <li><a href="#">Visit Us</a></li>
                                <li><a href="#">Buy Tickets</a></li>
                            </ul> #}
                        </div><!--Top Right-->
                        <div class="header-top-right float-right">
                            {# <div class="phone-num"><a href="tel:1800-123-4659">Phone: xxxxxxxxx</a>
							</div> #}
                        </div>
                    </div>
                </div>
            </div><!--End header top --><!--Start Header upper -->
            <div class="header-upper">
                <div class="container clearfix">
                    <div class="outer-box clearfix">
                        <div class="header-upper-left clearfix float-left">
                            <div class="logo">
							<a href="{{path('app_home')}}">
								 <img src="{{asset('images/logo.png')}}"   title="" style="width:70px;height:70px;"> 
								<b style="color:black;"> Musée des peuples de l'extrême Nord</b>
							</a></div>
                        </div>
                        <div class="header-upper-right float-right clearfix">
                            <div class="nav-outer clearfix"><!-- Main Menu -->
                                <nav class="main-menu navbar-expand-lg">
                                    <div class="navbar-header"><!-- Toggle Button --><button type="button"
                                            class="navbar-toggle" data-toggle="collapse"
                                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation"><span
                                                class="icon-bar"></span><span class="icon-bar"></span><span
                                                class="icon-bar"></span></button></div>
                                    <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                        <ul class="navigation clearfix">
                                           <li><a href="{{path('app_home')}}" class="current">Accueil</a></li>
											<li><a href="{{path('app_museum')}}" > Musée</a></li>
											<li><a href="" > Exposition</a></li>
                                            <li><a href="{{path('app_about')}}" >A propos de nous</a></li>
                                        </ul>
                                    </div>
                                </nav><!-- Main Menu End-->
                                <div class="menu-right-content">
                                    <div class="outer-search-box-style1">
                                        <div class="seach-toggle"><i class="fa fa-search"></i></div>
                                        <ul class="search-box">
                                            <li>
                                                <form method="post" action="">
                                                    <div class="form-group"><input type="search" name="search"
                                                            placeholder="Search Here" required><button type="submit"><i
                                                                class="fa fa-search"></i></button></div>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--End Header Upper--><!--Sticky Header-->
            <div class="sticky-header">
                <div class="container">
                    <div class="clearfix"><!--Logo-->
                        <div class="logo float-left"><a href="{{path('app_home')}}" class="img-responsive">
						 <img src="{{asset('images/logo.png')}}"   title="" style="width:70px;height:70px;"> 
								<b style="color:black;"> Musée des peuples de l'extrême Nord</b>
						</a></div><!--Right Col-->
                        <div class="right-col float-right"><!-- Main Menu -->
                            <nav class="main-menu navbar-expand-lg">
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li><a href="{{path('app_home')}}" class="current">Accueil</a></li>
										<li><a href="{{path('app_museum')}}" > Musée</a></li>
                                        <li><a href="" > Exposition</a></li>
										<li><a href="{{path('app_about')}}" >A propos de nous</a></li>
                                    </ul>
                                </div>
                            </nav><!-- Main Menu End-->
                        </div>
                    </div>
                </div>
            </div><!--End Sticky Header-->
        </header>
       
        {% block body %}{% endblock %}

        <footer class="footer-area">
            <div class="footer">
                <div class="container">
                    <div class="row"><!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                            <div class="single-footer-widget marbtm50">
                                <div class="footer-logo">
								<a href="{{path('app_home')}}">
								 <img src="{{asset('images/logo.png')}}"   title="" style="width:70px;height:70px;"> 
								<b style="color:black;"> Musée des peuples de l'extrême Nord</b>
								
								</a></div>
                            </div>
                        </div><!--End single footer widget--><!--Start single footer widget-->
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                            <div class="single-footer-widget marbtm50">
                                <div class="title">
                                    <h3>Reseaux sociaux</h3>
                                </div>
                                <ul class="social-links">
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="#">YouTube</a></li>
                                    <li><a href="#">Instagram</a></li>
                                    <li><a href="#">Snapchat</a></li>
                                    <li><a href="#">Facebook</a></li>
                                </ul>
                            </div>
                        </div><!--End single footer widget--><!--Start single footer widget-->
                        {# <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                            <div class="single-footer-widget">
                                <div class="title">
                                    <h3>Contacts</h3>
                                </div>
                                <div class="contact-us">
                                    <p>2270 S Real Camino Lake<br>California, US 90967</p>
                                    <div class="phone-num"><a href="tel:1800-123-4659">1 (623) 456-9400</a></div>
                                </div>
                            </div>
                        </div><!--End single footer widget--><!--Start single footer widget--> #}
                        {# <div class="col-xl-2 col-lg-8 col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                            <div class="single-footer-widget opening-hours-box pdtop50">
                                <div class="title">
                                    <h3>Open Hours</h3>
                                </div>
                                <div class="opening-hours">
                                    <p>Daily 9.30 am–6.00 pm<br>Thursday & Holidays: Closed</p>
                                </div>
                            </div>
                        </div><!--End single footer widget--><!--Start single footer widget--> #}
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                            <div class="single-footer-widget pdtop50">
                                <div class="title">
                                    <h3>Menu</h3>
                                </div>
                                <ul class="quick-links">
                                    <li><a href="{{path('app_home')}}" class="current">Accueil</a></li>
									<li><a href="{{path('app_museum')}}" > Musée</a></li>
									<li><a href="{{path('app_about')}}" >A propos de nous</a></li>
                                </ul>
                            </div>
                        </div><!--End single footer widget-->
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="outer-box">
                        <div class="footer-bottom-left">
                            <div class="text">
                                {# <p><a href="#">Privacy Policy</a>/ This is a sample website</p> #}
                            </div>
                        </div>
                        <div class="footer-bottom-right">
                            <div class="copyright-text">
                                <p>© 2023 - All Rights <a href="">Reserved</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!--End footer area-->
    </div><button class="scroll-top scroll-to-target" data-target="html"><span class="icon-angle"></span></button>
    
	 <script src="{{ asset('js/jquery.js')}}"></script>
    <script src="{{ asset('js/appear.js')}}"></script>
    <script src="{{ asset('js/bootstrap-select.min.js')}}"></script>
    <script src="{{ asset('js/isotope.js')}}"></script>
    <script src="{{ asset('js/jquery.bootstrap-touchspin.js')}}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('bootstrap/js/popper.min.js')}}"></script>
    <script src="{{ asset('js/jquery.countTo.js')}}"></script>
    <script src="{{ asset('js/jquery.easing.min.js')}}"></script>
    <script src="{{ asset('js/jquery.enllax.min.js')}}"></script>
    <script src="{{ asset('js/jquery.fancybox.js')}}"></script>
    <script src="{{ asset('js/jquery.mixitup.min.js')}}"></script>
    <script src="{{ asset('js/jquery.paroller.min.js')}}"></script>
    <script src="{{ asset('js/owl.js')}}"></script>
    <script src="{{ asset('js/validation.js')}}"></script>
    <script src="{{ asset('js/wow.js')}}"></script>
    <script src="{{ asset('js/aos.js')}}"></script>
    <script src="{{ asset('assets/language-switcher/jquery.polyglot.language.switcher.js')}}"></script>
    <script src="{{ asset('assets/timepicker/timePicker.js')}}"></script>
    <!--<script src="{{ asset('assets/html5lightbox/html5lightbox.js')}}"></script>--><!-- jQuery ui js -->
    <script src="{{ asset('assets/jquery-ui-1.11.4/jquery-ui.js')}}"></script><!--Revolution Slider-->
    <script src="{{ asset('plugins/revolution/js/jquery.themepunch.revolution.min.js')}}"></script>
    <script src="{{ asset('plugins/revolution/js/jquery.themepunch.tools.min.js')}}"></script>
    
    <script src="{{ asset('js/main-slider-script.js')}}"></script><!-- thm custom script -->
    <script src="{{ asset('js/custom.js')}}"></script>

    
</body>

</html>



